* {
  box-sizing: border-box;
}

html {
  font: normal 16px/1 montserratmedium, sans-serif;
}

body {
  margin: 0;
  background-color: $black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button,
input,
textarea {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1170px;
  margin: 0 auto;

  @include b(laptop) {
    padding: 0 10px;
  }
}

.button {
  border-radius: 3px;
}

.button-red {
  color: white;
  background: $red;
  border-radius: 3px;
  text-transform: uppercase;
}

strong {
  font-weight: 600;
}

.text-grey {
  color: $grey;
}

.text-yellow {
  color: $yellow;
}

.text-red {
  color: $red;
}

.text-white {
  color: $white;
}