@font-face {
  font-family: 'montserratmedium';
  src: url('../fonts/montserrat-medium-webfont.eot');
  src: url('../fonts/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-medium-webfont.woff') format('woff'),
  url('../fonts/montserrat-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}