section.container.hero
    .hero__content
        p 4-х недельный тренинг
        h1 Мама-онлайн
        span.hero__thesis К удаленной работе за 30 дней
        span.hero__thesis Начните зарабатывать в отпуске по уходу за малышом
        ul.hero__list
            li.hero__list-item Участниц получают первые деньги за 30 дней
            li.hero__list-item Начните без специальных знаний
            li.hero__list-item Содействие в трудоустройстве
            li.hero__list-item Стажировка в реальных проектах
        span.hero__info СТАРТ 23 СЕНТЯБРЯ
        button.hero__button ЗАПИСАТЬСЯ
    .hero__image
        img(src="images/banner1.png" alt="banner1")