section.container.question
    h1 ХОТЕЛИ БЫ ВЫ #[span.hero__text-yellow РАБОТАТЬ ПО 2-3 ЧАСА ИЗ ДОМА], ИМЕТЬ СВОИ ДЕНЬГИ, УДЕЛЯЯ ВРЕМЯ СЕМЬЕ?
    .herro__wrapper
        .herro__wrapper-image
            img(src="images/faq-woman.png" alt="woman")
        .herro__wrapper-content
            p Если вы мама и устали уже просто сидеть в декрете в 4-х стенах, когда каждый день как День сурка...
            p
                span.hero__text-grey Если вам хочется чувствовать свою значимость. Хочется не зависеть от мужа и иметь свои деньги...
            p
                span.hero__text-grey И думаете, как было бы замечательно не отдавать ребенка в садик...
            p Скорее всего вы уже задумывались, что есть удаленная работа, и пробовали ее найти.
            p #[span.hero__text-grey Но столкнулись с различными сложностями: что выбрать,] где пройти обучение, которое дорогое, чему учиться?
    h2 А ЗНАЕТЕ ЛИ ВЫ, ЧТО МОЖНО НАЧАТЬ РАБОТАТЬ ОНЛАЙН, #[span.hero__text-red НЕ ОБЛАДАЯ НИКАКИМИ СПЕЦИАЛЬНЫМИ НАВЫКАМИ?]