.questions {
  padding: 60px 0;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    @include b(mobile) {
      flex-direction: column;
    }
  }

  h1 {
    font-weight: 400;
    color: $yellow;
    text-align: center;
    margin-bottom: 37.5px;

    @include b(mobile) {
      font-size: 15px;
    }
  }

  p {
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 25px;

    @include b(mobile) {
      font-size: 15px;
    }
  }

  strong {
    text-transform: uppercase;
  }

  li {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: $grey;

    &:before {
      content: "\2014";
      margin: 0 5px 0 0;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__block1 {
    width: 50%;
    padding: 30px 60px 30px 100px;

    @include b(mobile) {
      border: none;
      padding: 0 10px;
      width: 100%;
    }
  }

  &__block2 {
    width: 50%;
    border-left: 1px solid $light-grey;
    padding: 30px 0 0 105px;

    @include b(mobile) {
      border: none;
      padding: 0 10px;
      width: 100%;
    }

    p {
      color: $red;
    }
  }

  &__block3 {
    width: 47.7%;
    border-top: 1px solid $light-grey;
    padding: 112px 37px 0 90px;
    margin: -140px 23px 0 0;

    @include b(mobile) {
      border: none;
      padding: 0 10px;
      margin: 0;
      width: 100%;
    }
  }

  &__block4 {
    width: 49%;
    border-left: 1px solid $light-grey;
    padding: 0 0 0 105px;

    @include b(mobile) {
      border: none;
      padding: 0 10px;
      width: 100%;
    }
  }

  &__cloud {
    background: url(../images/border.png);
    width: 446px;
    height: 265px;
    padding: 55px 10px 52px 47px;
    margin-left: -48px;

    @include b(mobile) {
      width: 120%;
    }

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: $grey;

      @include b(mobile) {
        font-size: 13px;
      }

      +p {
        padding-right: 57px;

        @include b(mobile) {
          padding-right: 0;
        }
      }
    }

    &-image {
      text-align: right;
      margin: -140px -58px 34px 0;

      @include b(mobile) {
        text-align: center;
        margin: 0;

        img {
          width: 158px;
        }
      }

      &-ellipses {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0 65px 0 0;
      }

      &-ellipse1 {
        background: url(../images/Ellipse1.png);
        width: 26px;
        height: 23px;
        margin-bottom: 8px;

      }

      &-ellipse2 {
        background: url(../images/Ellipse2.png);
        width: 18px;
        height: 15px;
        margin-bottom: 11px;
      }

      &-ellipse3 {
        background: url(../images/Ellipse3.png);
        width: 11px;
        height: 9px;
      }
    }
  }
}