.question {
  padding: 105px 0 64px 0;
  max-width: 955px;
  color: $white;

  h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    text-transform: uppercase;
    max-width: 688px;
    margin: 0 auto 20px auto;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  p {
    font-size: 18px;
    line-height: 25px;
    max-width: 556px;
  }

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    width: 657.95px;
    margin: 50px auto 0 auto;
  }
}