doctype html
html
    head
        meta(charset = 'utf-8')
        title Онлайн академия
    body
        include sections/header.pug

        main
            include sections/main_sections/hero.pug
            include sections/main_sections/question.pug
            include sections/main_sections/results.pug
            include sections/main_sections/questions.pug
