header.header
    .container.header__container
        a(href="#" class="header__logo") #[img(src="images/logo.svg" alt="logo")]
        nav.header__nav
            ul.header__nav-list
                li.header__list-item
                    a(href="#" class="header__item-link link") Академия
                li.header__list-item
                    a(href="#" class="header__item-link link") Вакансии
                li.header__list-item
                    a(href="#" class="header__item-link link") Резюме
                li.header__list-item
                    a(href="#" class="header__item-link link") Заказы
            button.header__buttonSignIn Войти
            button.header__buttonSignUp Регистрация
            ul.header__langSwitcher
                li
                    span EN
                li
                    span RU