section.container.hero
    .hero__content
        p 4-х недельный тренинг
        h1 Мама-онлайн
        div.hero__thesis-list
            span.hero__thesis-list-item К удаленной работе за 30 дней
            span.hero__thesis-list-item Начните зарабатывать в отпуске по уходу за малышом
        ul.hero__list
            li.hero__list-item
                span.hero__list-item-yellowText 70%
                span.hero__list-item-text Участниц получают первые деньги за 30 дней
            li.hero__list-item
                img(class="hero__list-item-icon" src="images/icons/certificate.svg" alt="icon")
                span.hero__list-item-text Начните без специальных знаний
            li.hero__list-item
                img(class="hero__list-item-icon" src="images/icons/puzzle.svg" alt="icon")
                span.hero__list-item-text Содействие в трудоустройстве
            li.hero__list-item
                img(class="hero__list-item-icon" src="images/icons/internship.svg" alt="icon")
                span.hero__list-item-text Стажировка в реальных проектах
        span.hero__info СТАРТ 23 СЕНТЯБРЯ
        button.hero__button ЗАПИСАТЬСЯ
    .hero__image
        img(src="images/banner1.png" alt="banner1")