section.container.questions
    h1 ПОЧЕМУ #[span.text-white УЧАСТНИЦЫ ПОЛУЧАЮТ] ТАКИЕ РЕЗУЛЬТАТЫ?
    .questions__wrapper
        .questions__col1
            .questions__col1-block1
                p Особенность тренинга #[span.text-red «МАМА-ОНЛАЙН»] в том, что вы можете начать абсолютно #[span.text-red С НУЛЯ]:
                ul
                    li Вы узнаете все возможные способы начать работать в интернете без специальных знаний.
                    li На тренинге сможете освоить более 10 простых навыков, за которые платят реальные деньги.
                    li Изучите полезные сервисы, с которыми сможете всегда зарабатывать в интернете.
            .questions__col1-block2
                p И ТРЕТИЙ #[span.text-white важный момент] - КАК ПОЛУЧИТЬ ПЕРВЫЕ ДЕНЬГИ
                p Уже на 2-3 недели тренинга наши
                    strong УЧАСТНИЦЫ НАЧИНАЮТ ЗАРАБАТЫВАТЬ:
                ul
                    li Вы найдете первых работодателей.
                    li Выполните первые заказы.
                    li И получите свои первые отзывы и деньги.
        .questions__col2
            p ВТОРОЙ СЛОЖНЫЙ МОМЕНТ, #[span.text-white с которым сталкиваются мамы - это как предложить свои услуги и] НАЙТИ ЗАКАЗЧИКОВ:
            .questions__cloud
                .questions__cloud-content
                    p «Много перепробовала и не верю, что в интернете можно зарабатывать как на нормальной работе»
                    p «Переживаю, что меня не выберут из такого большого числа кандидатов на работу»
                    p «Боюсь, что меня обманут и не заплатят - как не «нарваться» на мошенников?»
            .questions__cloud-image
                .questions__cloud-image-ellipses
                    .questions__cloud-image-ellipse1
                    .questions__cloud-image-ellipse2
                    .questions__cloud-image-ellipse3
                img(src="images/IMGBIN_thinking-woman-looking-up-png_iABifiHu.png" alt="thinking-woman-looking-up")
            .questions__col2-block
                p Именно поэтому мы работаем над тем,
                    strong КАК СЕБЯ ПРЕЗЕНТОВАТЬ:
                    ul
                        li Вы создадите свое резюме и портфолио.
                        li Составите адекватный прайс на услуги.
                        li Научитесь общаться с заказчиками и проходить собеседования так, чтобыони выбирали вас.