section.results
    .container
        .reviewsSlider
            .results__block
                .results__block-col1
                    img(src="images/olya.png" alt="photo")
                    .results__block-info
                        .results__block-about
                            .results__block-name Ольга Ивановна
                            .results__block-job Копирайтер
                        a(href="#" class="results__block-link") Интервью с Ольгой
                .results__block-col2
                    h3 «Вышла на #[span.text-red доход 15000 рублей] и уволилась из банка»
                    p Работала в банке, но была не довольна своей работой. Это сказывалось на здоровье, на общение внутри семьи.
                    p Решила уйти из банка и для этого стала изучать фриланс. Сомневалась во время ли приняла такое решение или еще остаться на нелюбимой, но стабильной работе.
                    p За время тренинга планировала заработать хотя бы 1000 рублей и доказать себе, что это возможно. А заработала 3245 рублей, т.е. в три раза больше. Через месяц вышла на доход 5000 рублей.
                    p Начинала с простых задач - рерайт, размещение постов в группе в Одноклассниках. В течение года, уделяя работе 1-3 часа в день, вышла на доход от 5 до 15 тыс.руб. в месяц.
                    P Безболезненно уволилась из банка, сменила место жительства.
                    p Профиль ВК -
                        a(href="https://vk.com/ivanova_olga_io")  https://vk.com/ivanova_olga_io
            .results__block
                .results__block-col1
                    img(src="images/ekaterina.png" alt="photo")
                    .results__block-about
                        .results__block-name Екатерина Клещева
                        .results__block-job Мама двух дочек 4 и 1 годика, сейчас в декретном отпуске
                .results__block-col2
                    h3 «Начала с нуля. После стажировки работает в проекте, получая #[span.hero__text-red 20000 рублей]»
                    p Находясь в декрете, решила зарабатывать через интернет.
                    p Сначала боялась всего: и предлагать свои услуги, писать заказчикам, боялась, что дочки будут брошенными или не дадут выполнить заказ вовремя. Но оказалось, что все можно совместить.
                    p Сразу после тренинга, после стажировки устроилась в проект с окладом 20000 рублей + подработки. В настоящее время тренер клуба «МАМСфриланс»
                    p Профиль ВК:
                        a(href="https://vk.com/id3033889")  https://vk.com/id3033889
        button.results__button.button-red ХОЧУ ТАКИЕ РЕЗУЛЬТАТЫ