doctype html
html
    head
        meta(charset = 'utf-8')
        title Онлайн академия
    body
        header.header
            .container.header__container
                a(href="#" class="header__logo") #[img(src="images/logo.svg" alt="logo")]