doctype html
html
    head
        meta(charset = 'utf-8')
        title Онлайн академия
    body
        header.header
            .container.header__container
                a(href="#" class="header__logo") #[img(src="images/logo.svg" alt="logo")]
                nav.header__nav
                    ul.header__nav-list
                        li.header__list-item
                            a(href="#" class="header__item-link link") Академия
                        li.header__list-item
                            a(href="#" class="header__item-link link") Вакансии
                        li.header__list-item
                            a(href="#" class="header__item-link link") Резюме
                        li.header__list-item
                            a(href="#" class="header__item-link link") Заказы
                    button.header__buttonSignIn Войти
                    button.header__buttonSignUp Регистрация
                    ul.header__langSwitcher
                        li
                            span EN
                        li
                            span RU

        main
            section.container.hero
                .hero__content
                    p 4-х недельный тренинг
                    h1 Мама-онлайн
                    span.hero__thesis К удаленной работе за 30 дней
                    span.hero__thesis Начните зарабатывать в отпуске по уходу за малышом
                    ul.hero__list
                        li.hero__list-item Участниц получают первые деньги за 30 дней
                        li.hero__list-item Начните без специальных знаний
                        li.hero__list-item Содействие в трудоустройстве
                        li.hero__list-item Стажировка в реальных проектах
                    span.hero__info СТАРТ 23 СЕНТЯБРЯ
                    button.hero__button ЗАПИСАТЬСЯ
                .hero__image
                    img(src="images/banner.png" alt="banner1")
            section.container.question
                h1 ХОТЕЛИ БЫ ВЫ #[span.hero__text-yellow РАБОТАТЬ ПО 2-3 ЧАСА ИЗ ДОМА], ИМЕТЬ СВОИ ДЕНЬГИ, УДЕЛЯЯ ВРЕМЯ СЕМЬЕ?
                .herro__wrapper
                    .herro__wrapper-image
                        img(src="images/faq-woman.png" alt="woman")
                    .herro__wrapper-content
                        p Если вы мама и устали уже просто сидеть в декрете в 4-х стенах, когда каждый день как День сурка...
                        p
                            span.hero__text-grey Если вам хочется чувствовать свою значимость. Хочется не зависеть от мужа и иметь свои деньги...
                        p
                            span.hero__text-grey И думаете, как было бы замечательно не отдавать ребенка в садик...
                        p Скорее всего вы уже задумывались, что есть удаленная работа, и пробовали ее найти.
                        p #[span.hero__text-grey Но столкнулись с различными сложностями: что выбрать,] где пройти обучение, которое дорогое, чему учиться?
                h2 А ЗНАЕТЕ ЛИ ВЫ, ЧТО МОЖНО НАЧАТЬ РАБОТАТЬ ОНЛАЙН, #[span.hero__text-red НЕ ОБЛАДАЯ НИКАКИМИ СПЕЦИАЛЬНЫМИ НАВЫКАМИ?]